/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

<h1 style="color: red;">Hello, this is a test!</h1>


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
